@import "../../css/variables.css";

.view {
	margin: 0 auto;
	padding: 16px;
}

.view.fill {
	position: absolute;
	top: var(--navHeight);
	left:0;
	right:0;
	bottom:0;
}

.view-lg {
	max-width: 960px;
}
.view-md {
	max-width: 640px;
}
.view-sm {
	max-width: 480px;
}