@import "../../css/variables.css";

.input {
	border-width: 1px;
	border-style: solid;
	font-size: var(--text-size-sm);
	position: relative;
	outline: none;
	transition: all 0.25s ease-in-out;
	padding: 0 var(--small-space);
	height: var(--control-height);
	line-height: var(--control-height);
}

.input.light {
	border-color: var(--medium);
}

.input:focus {
	z-index: 1;
}

.input:hover {
	z-index: 2;
}

.input.active {
	z-index: 1;
}

.input.disabled {
	cursor: default;
}

.input.rounded {
	border-radius: var(--rounded)
}

.input.has-clear-input-ctrl {
	padding-right: 48px;
}