@import "./variables.css";

.xdark {
	background-color:var(--xdark);
	color: var(--medium);
	border-color: black;
}
.dark {
	background-color:var(--dark);
	color: var(--light);
	border-color: var(--xdark);
}

.accent {
	background-color:var(--accent);
	border-color: var(--accent);
	color: white;
}

.accent-light {
	background-color:var(--accent-light);
	color: var(--accent-dark);
	border-color:var(--accent);
}

.light {
	background-color:var(--light);
	color: var(--medium);
	border-color: var(--medium);
}

.medium {
	background-color:var(--medium);
	color: var(--dark);
	border-color:var(--dark);
}

.accent-outline {
	background-color: white;
	border-color: var(--accent);
	color: var(--accent);
}

.medium-outline {
	background-color: white;
	border-color: var(--medium);
	color: var(--medium);
}

.dark-outline {
	background-color: white;
	border-color: var(--dark);
	color: var(--dark);
}

.accent-light-fill {
	background-color: var(--accent-light);
	border-color: var(--accent);
	color: var(--accent);
}