:root {
	--dark:#222;
	--xdark:#000;
	--light:#f2f2f2;
	--light2:#e0e0e0;
	--medium:#ccc;
	--medium2:#aaa;

	--aqua: rgb(110,212,255);
	--purple: rgb(167,90,244);

	--accent:rgb(55,0,255);
	--accent-dark: rgb(33,31,109);
	--accent-light:rgb(242,249,255);

	--warning: rgb(255,0,0);

	--grid-unit: 8px;

	--control-height: calc(4 * var(--grid-unit));
	--control-height-lg: calc(5 * var(--grid-unit));
	--control-height-sm: calc(3 * var(--grid-unit));

	--navHeight: calc(7 * var(--grid-unit));

	--space: calc(2 * var(--grid-unit));
	--small-space: calc(var(--grid-unit));
	--x-small-space: calc(0.5 * var(--grid-unit));

	--text-size: calc(2 * var(--grid-unit));
	--text-size-sm: calc(0.75 * var(--text-size));
	--text-size-lg: calc(1.5 * var(--text-size));

	--rounded: 3px;
	--rounded-lg: 6px;
}

.rounded {
	border-radius: var(--rounded)
}