:root {
	--dark: rgb(19,35,48); /* rgb(10,15,30);  #222;*/
	--xdark:#000;
	--light:#f2f2f2;
	--light2:#e0e0e0;
	--medium: rgb(50,70,85);
	--medium2: rgb(106,128,145);

	--aqua: rgb(110,212,255);
	--purple: rgb(167,90,244);

	--accent: rgb(0,42,255);   /*rgb(55,0,255);*/
	--accent-dark: rgb(33,31,109);
	--accent-light:rgb(242,249,255);
	--accent-muted: rgba(0,42,255,0.5);

	--warning: rgb(255,0,0);

	--grid-unit: 8px;

	--control-height: calc(4 * var(--grid-unit));
	--control-height-lg: calc(5 * var(--grid-unit));
	--control-height-sm: calc(3 * var(--grid-unit));

	--navHeight: 64px;

	--space: calc(2 * var(--grid-unit));
	--small-space: calc(var(--grid-unit));
	--x-small-space: calc(0.5 * var(--grid-unit));

	--med-space: calc(2 * var(--space));
	--large-space: calc(4 * var(--space));

	--text-size: 15px;
	--line-size: calc(1.4 * var(--text-size));

	--text-size-sm: calc(0.75 * var(--text-size));
	--line-size-sm: calc(1.5 * var(--text-size-sm));

	--text-size-lg: calc(1.5 * var(--text-size));
	--line-size-lg: calc(1.4 * var(--text-size-lg));

	--rounded: 3px;
	--rounded-lg: 6px;
}

.rounded {
	border-radius: var(--rounded)
}