@import "../../css/variables.css";

.input-group {
	display: grid;
	grid-template-columns: 33% auto;
	grid-row-gap: 2px;
	grid-column-gap: 8px;
	max-width: 600px;
	width: 100%;
	font-size: var(--text-size-sm);
}

.input-group.debug div {
	border: 1px solid rgba(255,0,0,0.5) !important;
}

.input-group.labels-on-top {
	grid-template-columns: auto;
}

.input-group .inner {
	grid-column: 2;
}

.input-group .input {
	flex: 1;
}

.input-group .clear-input-ctrl {
	transition: all ease-in-out 200ms;
	flex: 0;
	align-self: center;
	position: absolute;
	z-index: 1;
	right: 0;
}

.input-group .error-message {
	color: var(--warning);
	grid-column: 2 / 2;
}

.input-group .warning{
	color: var(--warning);
}

.input-group .grid1 {
	grid-column: 1 / 1;
}

.input-group .help-text {
	grid-column: 2 / 2;
	min-height: 14px;
}

.input-group .input-control-button {
	flex: 0;
	margin-left: 6px;
}

.input-group .label {
	grid-column: 1;
	align-self: center;
	text-align: right;
}

.input-group .label.grid1 {
	align-self: start;
}

.input-group .label .optional {
	font-size: 90%;
	font-weight: normal;
	font-style: italic;
}

.input-group .label .asterisk {
	color: var(--warning);
	font-size: var(--text-size-lg);
	margin-left: 4px
}

.input-group .validation {
	padding: 0 4px;
	width: 2rem;
	position: relative;
	flex: 0;
}

.input-group .validation .material-icons {
	vertical-align: middle;
}

.input-group.labels-on-top .inner
{
	grid-column: 1 / 1;
}

.input-group.labels-on-top .label {
	grid-column: 1;
	text-align: left;
}